@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Kdam+Thmor+Pro&family=Oswald:wght@200;300;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;1,700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Kalnia', serif;
}